name: Go

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Build
        run: go build -v .
